@font-face{
    font-family: Verdana-Bold-Italic;
    src: url(../font/verdana-bold-italic.ttf);
}

@font-face{
    font-family: Verdana-Bold;
    src: url(../font/verdana-bold.ttf);
}

body{
    margin: 0;
    background-image: url(../img/noise-fond.png);
    background-repeat: repeat;
}

#red{
    background-image: url(../img/noise-rouge.png);
    background-repeat: repeat;
    text-align: center;
    opacity: 95%;
    width: 96vw;
    padding: auto 0.5vw auto 0.5vw;
    margin: auto;
    margin-top: 2vw;
}

header h1{
    font-family: Verdana-Bold;
    background-image: url(../img/noise-fond.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 130pt;
    margin: 0;
}
#black{
    background-image: url(../img/noise-noir.png);
    background-repeat: repeat;
    text-align: center;
    opacity: 95%;
    width: 96vw;
    padding: auto 0.5vw auto 0.5vw;
    margin: auto;
    margin-top: 1vh;
    padding-top: 0.1vh;
    padding-bottom: 0.5vh;
    
}
header h2{
    font-family: Verdana-Bold;
    background-image: url(../img/noise-fond.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30pt;
    margin: 0;
}

nav{
    margin: auto;
    margin-top: 10vh;
    display: flex;
    width: 96vw;
    justify-content: space-around;
}

nav div{
    border-left: 2px black solid;
    width: 33vw;    
}
nav h3{
    font-family: Verdana-Bold;
    font-size: 20pt;
    text-align: center;
}
nav p{
    text-align: justify;
    margin: auto 1vw auto 1vw;
}

#last{
    border-right: 2px black solid;
}